@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  font-family: "Roboto", Arial;
}

#content {
  height: 100%;
  display: flex;
  justify-content: center;
  margin-left: min(25vw, 250px);
}

.employees {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.employee--row {
  display: flex;
  padding: 1rem;
  align-items: center;
  gap: 1rem;
}

.employee--row > .control {
  margin-left: auto;
  margin-right: 0.4rem;
}

.employees--cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
}

.display--cards {
  border: none;
  padding: 0 1em;
  background-color: #f1f1f1;
  box-shadow: inset 2px 2px 3px #fff, inset -2px -2px 5px rgba(0, 0, 0, 0.1);
  display: grid;
  place-items: center;
}

.display--cards:first-of-type {
  border-radius: 10px 0 0 10px;
  border-right: 1px solid #ccc;
}

.display--cards:not(:first-of-type) {
  border-radius: 0 10px 10px 0;
  border-left: 1px solid #ccc;
}

.selected__display__format {
  background-color: #fff;
  box-shadow: none;
}

.card-display-format:not(.selected--format) {
  cursor: pointer;
}

.navigation-link {
  padding: 0.65em;
  cursor: pointer;
  transition: 0.125s ease-in;
  text-decoration: none;
}

.navigation-link:not(.active):hover {
  background-color: #ddd;
  text-decoration: none;
}

.navigation-icon {
  width: 30px;
  height: 30px;
}

.navigation-link-icon {
  width: 20px;
  height: 20px;
}

.dashboard-card:last-of-type {
  margin-bottom: 0 !important;
}

.accordion-trigger {
  border: none;
  background: transparent;
  height: 100%;
  transition: 0.3s ease-in-out;
  border-radius: 5px;
  padding: 0.55em;
  display: grid;
  place-items: center;
}

.accordion-trigger-icon {
  height: 100%;
  transition: 0.225s ease-in-out;
}

.accordion {
  transition: 0.225s ease-in-out;
  cursor: pointer;
}

.accordion:hover {
  background-color: #efefef;
}

.faq__accordion:hover {
  background-color: rgba(255 255 255 / 0.4);
}

.project-button:hover {
  cursor: pointer;
  background-color: #efefef;
}

.arrow-down {
  transform: rotate(90deg);
}

.accordion-content {
  transition: max-height 0.425s ease-in;
  overflow: hidden;
  max-height: 0;
  position: relative;
}

.accordion-content-shown {
  max-height: 300px;
  overflow: scroll;
}

.department-employees {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
  gap: 1rem !important;
}

.department-employee {
  background-color: white;
  max-width: 100%;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  gap: 1rem;
  text-decoration: none;
}

.department-employee img {
  height: 75%;
}

.department-employee > *:not(img) {
  font-size: 1.3rem;
  color: #000;
}

.sidebar {
  max-width: 250px;
}

.dashboard-employees {
  overflow-y: scroll;
}

/* Loading */

.loading {
  position: relative;
  margin: 40px auto;
  width: 100px;
  height: 100px;
  z-index: 2;
}

.loading hr {
  border: 0;
  margin: 0;
  width: 40%;
  height: 40%;
  position: absolute;
  border-radius: 50%;
  animation: spin 2s ease infinite;
}

.loading :first-child {
  background: #19a68c;
  animation-delay: -1.5s;
}

.loading :nth-child(2) {
  background: #f63d3a;
  animation-delay: -1s;
}

.loading :nth-child(3) {
  background: #fda543;
  animation-delay: -0.5s;
}

.loading :last-child {
  background: #193b48;
}

@keyframes spin {
  0%,
  100% {
    transform: translate(0);
  }
  25% {
    transform: translate(160%);
  }
  50% {
    transform: translate(160%, 160%);
  }
  75% {
    transform: translate(0, 160%);
  }
}

@media (max-width: 901px) {
  .nav-item-text {
    display: none;
  }

  .sidebar {
    width: auto !important;
  }

  #content {
    width: 90%;
    margin-left: 11vw;
    margin-right: 0;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .change-card {
    width: 100% !important;
  }

  .navigation-icon {
    width: 40px;
    height: 40px;
  }

  .navigation-link-icon {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 572px) {
  #content {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .row-format {
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .sidebar {
    flex-direction: row;
    width: 100vw !important;
    height: 10vh !important;
    min-height: 10vh;
    max-width: 100vh;
    justify-content: space-between;
    z-index: 9999;
  }

  .sidebar > .navigation-link {
    display: grid;
    place-items: center;
  }

  .navigation-item-icon {
    width: 100%;
  }
}
